@import url("https://fonts.googleapis.com/css?family=Assistant:800");
html { font: 24pt/1.3 sans-serif; text-size-adjust: none }
body { margin: 1rem auto; }
stuff { margin: 0 auto; max-width: 1200px; }
a { color: #6660a0 }
h1 { font: 1.5rem Assistant, sans-serif; letter-spacing: -4px; }
stuff { display: block;  }
blockquote { font-weight: bold; margin: 0 }
cite { float: right }
part { padding: 1rem; }
h1 { background: url(logo.svg) center left no-repeat; background-size: 3.8rem; padding-left: 4.2rem; padding-bottom: .1rem }
h3 { font-size: .8rem }
section p { font-size: .8rem }
intro { display: block; width: 95% }
blockquote * { background: white; color: black; }
blockquote * { padding: .1rem .5rem; -webkit-box-decoration-break: clone; box-decoration-break: clone }
nav ul { list-style-type: none; padding: 0; float: right }
h1, nav, ul, li { display: inline }
nav { position: absolute; top: 0; right: 2rem }
nav li { margin-left: 1rem }
nav ul { margin: 0; }
.two { overflow: hidden; }
h3 { margin-top: 0; }
hr { height: 0; border-top: 1px solid #ccc; margin: 1.5rem 0 }
nav a { font-size: .8rem; font-weight: bold; }
nav a { text-decoration: none; border-bottom: .1rem solid currentcolor }
section { float: left; width: 46%; }
section:first-of-type { margin-right: 5% }
part { display: block }
p { clear: left }
guys { display: flex; flex-wrap: wrap; margin-top: 2rem }
guys { justify-content: space-between; justify-content: flex-start }
guys > * { width: 17%; margin-right: 3%; }
guys a { text-decoration: none; color: inherit; margin-bottom: 1rem; }
guys * { color: inherit }
guys > a:hover { opacity: .6 }
body { position: relative }
h2 { text-transform: uppercase; font-size: 1rem; margin: 0 }
face { background-size: cover; display: block }
face { padding-bottom: 130%; background-position: center }
guy { margin-bottom: 1rem }
name { font-size: .7rem; font-weight: bold }
name { display: block; margin: .25rem 0 .1rem; }
job { display: block }
job { text-transform: uppercase; color: gray; }
job { font-size: .4rem; letter-spacing: 1px; font-weight: bold; }
small { font-size: .7rem; color: gray; display: block; }
